<!-- https://vuetifyjs.com/en/getting-started/installation/#usage-with-cdn -->
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <!-- <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/atelier-dune-dark.min.css" rel="stylesheet"> -->
  <!-- <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/monokai.min.css" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/monokai-sublime.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main class="grey lighten-4">
        <v-container>
          <!-- Tabs -->
          <v-tabs v-model="tab" class="mb-6" background-color="grey lighten-4">
            <v-tab v-for="category in categories" :key="category.self">{{ category.name }}</v-tab>
          </v-tabs>

          <!-- Controls (Role)-->
          <v-card class="px-2 mb-6">
            <v-card-title class="text-subtitle-1 font-weight-bold">
              Role
            </v-card-title>
            <v-card-text class="mt-n6">
              <v-row :align="'center'">
                <v-col md="4" class="py-0">
                  <v-select v-model="form.tenant" :items="tenants" item-text="name" item-value="id" label="Tenant"></v-select>
                </v-col>
                <v-col md="4" class="py-0">
                  <v-select v-model="form.role" :items="roles" item-text="name" item-value="id" label="Role"></v-select>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>

          <!-- Tables -->
          <v-data-table
            :headers="headers"
            :items="items"
            :items-per-page="5"
            dense
            class="elevation-1"
          >
            <template #top="{ items, options, pagination }">
              <div class="pa-6">
                <!-- Controls (General) -->
                <h4>Permissions</h4>
                <div class="d-flex align-center mt-2">
                  <div class="mr-6">
                    <v-checkbox v-model="form.showChecked" label="Show Checked Values" dense hide-details class="mt-0"></v-checkbox>
                  </div>
                  <div>
                    <v-btn small color="primary" @click="putRolePermissions">Save</v-btn>
                  </div>
                </div>

                <div class="mt-8">
                  <!-- Controls (Kubernetes) -->
                  <h5 v-if="category.name === 'kubernetes'">Kubernetes APIs</h5>
                  <div v-if="category.name === 'kubernetes'" class="d-flex align-baseline mt-3">
                    <div class="pa-0 mr-6">
                      <v-select v-model="form.apiGroup" :items="kubeApis.apiGroups" item-text="apiGroup" dense label="API Group"></v-select>
                    </div>
                    <div class="pa-0 mr-6">
                      <v-select v-model="form.resource" :items="kubeApis.resources" item-text="resource" dense label="Resource"></v-select>
                    </div>
                    <div class="pa-0">
                      <v-btn small color="info" @click="addKubernetesPermissions" class="mr-2">Add</v-btn>
                      <v-btn small color="info" @click="dump">Dump</v-btn>
                    </div>
                  </div>

                  <!-- Controls (Menus) -->
                  <h5 v-if="category.name === 'menus'">Simulations</h5>
                  <div v-if="category.name === 'menus'" class="d-flex align-baseline mt-3">
                    <div class="pa-0">
                      <v-btn small color="info" @click="dialog.acl.show = true">Test ACL</v-btn>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <!-- Columns (Checkbox) -->
            <template #item.checkbox="{ item, header }">
              <v-checkbox v-model="item.verbs" :value="header.val"></v-checkbox>
            </template>
            <template #item.verbs="scope">
              {{ JSON.stringify(scope.item.verbs, null, 2) }}
            </template>
          </v-data-table>

          <!-- Dialog (Dump YAML)-->
          <v-dialog v-model="dialog.code.show" width="45%" scrollable>
            <v-card>
              <v-card-title class="headline grey lighten-2">
                {{ dialog.code.title }}
              </v-card-title>

              <v-card-text class="pa-0" style="max-height: 450px;">
                <pre v-highlightjs="dialog.code.text" class="pa-4 yaml"></pre>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="dialog.code.show = false">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Dialog (API Access Control)-->
          <v-dialog v-model="dialog.acl.show" fullscreen scrollable>
            <v-card>
              <v-card-title class="headline grey lighten-2">
                {{ dialog.acl.title }}
              </v-card-title>

              <!-- Controls (URI) -->
              <v-card-subtitle class="ma-0 pt-6 pb-2">
                <h4 class="black--text">Role</h4>
                <div class="d-flex align-baseline">
                  <div class="pa-0 mr-6">
                    <v-select v-model="form.tenant" :items="tenants" item-text="name" item-value="id" label="Tenant" disabled></v-select>
                  </div>
                  <div class="pa-0">
                    <v-select v-model="form.role" :items="roles" item-text="name" item-value="id" label="Role" disabled></v-select>
                  </div>
                </div>

                <h4 class="black--text">HTTP Request</h4>
                <div class="d-flex align-baseline">
                  <div>
                    <v-select v-model="form.acl.method" :items="['GET', 'POST', 'PUT', 'DELETE']" label="Method" class="mr-6"></v-select>
                  </div>
                  <div>
                    <v-text-field v-model="form.acl.uri" label="URI (Path)" placeholder="api/v1/resources/id" style="min-width: 500px;" class="pa-0 mr-6"></v-text-field>
                  </div>
                  <div class="pa-0">
                    <v-btn small color="info" @click="testAclForm()" class="mr-1">Test</v-btn>
                    <v-btn small color="blue-grey lighten-2 white--text" @click="testAclDefaults()" class="mr-4">Test (default URIs)</v-btn>
                    <v-btn small color="blue-grey lighten-2 white--text" @click="acl.logs = []; dialog.acl.text = ''">Clear</v-btn>
                  </div>
                </div>
              </v-card-subtitle>

              <v-card-text class="pa-0">
                <pre v-highlightjs="dialog.acl.text" class="pa-4 abnf" style="min-height: 100%;"></pre>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="dialog.acl.show = false">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.x/lodash.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.x/dist/js-yaml.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/languages/yaml.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/languages/abnf.min.js"></script>
  <script src="js/apis.js"></script>
  <script>
    const global = {}

    // https://github.com/metachris/vue-highlightjs
    Vue.directive('highlightjs', {
      deep: true,
      bind: function bind(el, binding) {
        el.textContent = binding.value;
        hljs.highlightBlock(el);
      },
      componentUpdated: function componentUpdated(el, binding) {
        el.textContent = binding.value;
        hljs.highlightBlock(el);
      },
    });

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: function () {
        return {
          tab: 0,
          form: {
            tenant: '0',
            role: '0',
            apiGroup: null,
            resource: null,
            showChecked: false,
            acl: { method: null, uri: null }
          },
          categories: [],
          addedItems: [],
          acl: {
            testCases: [
              { tenant: 'Google', role: 'Admin', method: 'GET', uri: 'api/v1/resources/id' },
              { tenant: 'Google', role: 'Admin', method: 'GET', uri: 'api/v1/resources/id' }
            ],
            logs: []
          },
          dialog: {
            code: { show: false, title: 'YAML', text: '' },
            acl: { show: true, title: 'Simulations - Access Control', text: '' }
          }
        }
      },
      computed: {
        category: function() {
          return this.categories[this.tab];
        },
        schema: function() {
          return apis.get(this.category.self).data
        },
        headers: function() {
          const KEY = 'verbs'
          // const schema = apis.get(this.category.self).data
          const schema = this.schema

          // Dynamic Columns (Checkbox)
          // TODO: Order = [gluten-free, low-fat, salt-free, others]
          const headers = _(schema[0]).keys().without(KEY).map(this.toHeader).value()
          const checkboxes = _(schema).map(KEY).flatten().uniq().value()
          const checked = this.form.showChecked ? this.toHeader(KEY) : {}

          return _.concat(headers, _.map(checkboxes, this.toCheckboxHeader), checked)
        },
        items: function() {
          const vars = { tenant: this.form.tenant, role: this.form.role, category: this.category }
          const uri = this.template('api/tenants/${tenant}/roles/${role}/permissions/${category.name}', vars)
          const items = apis.get(uri).data || []

          if (this.category.useSchema) {
            // const remover = _.partialRight(_.assignInWith, { verbs: [] }, _)
            // global.schema = this.schema
            const empty = _.map( this.schema, v => Object.assign({}, v, {verbs: []}) )
            return _.merge(empty, items)
          }

          return _.unionBy(items, this.addedItems, 'id')
        },
        tenants: function() {
          return apis.get('api/tenants').data
        },
        roles: function() {
          const uriTemplate = 'api/tenants/${tenant}/roles'
          const vars = { tenant: this.form.tenant }
          const uri = this.template(uriTemplate, vars)
          return apis.get(uri).data
        },
        kubeApis: function() {
          if (this.category.name !== 'kubernetes')
            return {}

          global.schema = this.schema
          const apiGroups = _(this.schema).groupBy('apiGroup').values().map(_.head).value()
          const resources = _(this.schema).filter({ apiGroup: this.form.apiGroup }).value()
          return { apiGroups: apiGroups, resources: resources }
        }
      },
      created: function () {
        this.categories = apis.get('api/permissions').data
      },
      mounted: function () {
        global.vm = this
      },
      methods: {
        addKubernetesPermissions: function () {
          let selected = _.find(this.schema, { apiGroup: this.form.apiGroup, resource: this.form.resource })
          selected = Object.assign({}, selected, {verbs: []})
          this.addedItems.push(selected)
        },
        putRolePermissions: function () {
          const vars = { tenant: this.form.tenant, role: this.form.role, category: this.category }
          const uri = this.template('api/tenants/${tenant}/roles/${role}/permissions/${category.name}', vars)
          const body = this.items
          apis.put(uri, body)
        },
        //
        template: function (template, options) {
          return _.template(template)(options)
        },
        toHeader: function (val) {
          return { text: _.startCase(val), value: val }
        },
        toCheckboxHeader: function (val) {
          return { text: _.startCase(val), value: 'checkbox', val: val }
        },
        //
        dump: function () {
          const permissions = this.items
          const resources = _.groupBy(permissions, v => v.namespaced === true)
          const namespaced = resources['true']
          const clusterwide = resources['false']

          const name = this.template('realm:${tenant}:${role}', this.form)
          const docs = [
            this.toClusterRole(name, namespaced),
            this.toClusterRole(name + '-cr', clusterwide),
          ]

          const opts = { noArrayIndent: true, condenseFlow: true }
          this.dialog.code.text = _(docs).filter().map(d => jsyaml.dump(d, opts)).join('---\n')
          this.dialog.code.show = true
        },
        toClusterRole: function (name, rules) {
          // apiVersion: rbac.authorization.k8s.io/v1
          // kind: ClusterRole
          // metadata:
          //   name: aggregate-cron-tabs-edit
          //   labels:
          //     # Add these permissions to the "admin" and "edit" default roles.
          //     rbac.authorization.k8s.io/aggregate-to-admin: "true"
          //     rbac.authorization.k8s.io/aggregate-to-edit: "true"
          // rules:
          // - apiGroups: ["stable.example.com"]
          //   resources: ["crontabs"]
          //   verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

          return {
            apiVersion: 'rbac.authorization.k8s.io/v1',
            kind: 'ClusterRole',
            metadata: { name: name },
            rules: _.map(rules, r => {
              return { apiGroups: [r.apiGroup], resources: [r.resource], verbs: r.verbs }
            })
          }
        },
        // ACL
        testAclDefaults: function () {
          this.testAcl(this.acl.testCases)
        },
        testAclForm: function () {
          const req = {
            tenant: this.tenants[this.form.tenant].name,
            role: this.roles[this.form.role].name,
            method: this.form.acl.method,
            uri: this.form.acl.uri
          }
          this.testAcl([req])
        },
        testAcl: function (cases) {
          const arr = this.acl.logs
          const test = c => Object.assign({}, c, { result: cases.length % 2 === 1 ? 'DENY' : 'ALLOW' })
          const args = [arr.length, 0].concat(_.map(cases, test))
          arr.splice.apply(arr, args)

          this.dialog.acl.text = _.map(arr, log => this.template('${result} = ${method} "${uri}"  ; ${tenant}-${role}', log)).join('\n')
        }
      }
    })
  </script>
</body>
</html>