<!-- https://vuetifyjs.com/en/getting-started/installation/#usage-with-cdn -->
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <!--  -->
          <v-tabs v-model="tab" class="mb-6">
            <v-tab v-for="category in categories" :key="category.self">{{ category.name }}</v-tab>
            <v-tab>Validator</v-tab>
          </v-tabs>

          <v-data-table
            :headers="headers"
            :items="items"
            :items-per-page="5"
            dense
            class="elevation-1"
          >
            <!-- -->
            <template #top="{ items, options, pagination }">
              <div class="pa-2 ma-2">
                <v-row :align="'center'">
                  <v-col md="4" class="pb-0">
                    <v-select v-model="form.tenant" :items="tenants" item-text="name" item-value="id" label="Tenant"></v-select>
                  </v-col>
                  <v-col md="4" class="pb-0">
                    <v-select v-model="form.role" :items="roles" item-text="name" item-value="id" label="Role"></v-select>
                  </v-col>
                </v-row>

                <v-row :align="'center'">
                  <v-col md="4" class="pt-0">
                    <v-checkbox v-model="form.showChecked" dense label="Show Checked Values"></v-checkbox>
                  </v-col>
                  <v-col md="4" class="pt-0">
                    <v-btn small color="primary" @click="putRolePermissions">Save</v-btn>
                  </v-col>
                  <v-spacer></v-spacer>
                </v-row>

                <!-- for Kubernetes -->
                <v-row v-if="category.name === 'kubernetes'" :align="'center'" class="mt-10">
                  <v-col md="3" class="py-0">
                    <v-select v-model="form.apiGroup" :items="kubeApis.apiGroups" item-text="apiGroup" dense label="API Group"></v-select>
                  </v-col>
                  <v-col md="3" class="py-0">
                    <v-select v-model="form.resource" :items="kubeApis.resources" item-text="resource" dense label="Resource"></v-select>
                  </v-col>
                  <v-col md="3" class="py-0">
                    <v-btn small color="blue lighten-1 white--text" @click="addKubernetesPermissions">Add</v-btn>
                    <v-btn small color="blue lighten-1 white--text" @click="dump">Dump</v-btn>
                  </v-col>
                </v-row>
              </div>
            </template>
            <!-- -->
            <template #item.checkbox="{ item, header }">
              <v-checkbox v-model="item.verbs" :value="header.val"></v-checkbox>
            </template>
            <template #item.verbs="scope">
              {{ JSON.stringify(scope.item.verbs, null, 2) }}
            </template>
          </v-data-table>

          <v-dialog v-model="dialog.show" width="45%" scrollable>
            <v-card>
              <v-card-title class="headline grey lighten-2">
                {{ dialog.title }}
              </v-card-title>

              <v-card-text class="py-4 white--text" style="background-color: #283646; max-height: 450px;">
                <pre>{{ dialog.text }}</pre>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="dialog.show = false">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.x/lodash.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.x/dist/js-yaml.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/apis.js"></script>
  <script>
    const global = {}
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: function () {
        return {
          tab: 1,
          form: {
            tenant: null,
            role: null,
            apiGroup: null,
            resource: null,
            showChecked: false,
          },
          categories: [],
          addedItems: [],
          dialog: {
            show: false,
            title: 'YAML',
            text: ''
          }
        }
      },
      computed: {
        category: function() {
          return this.categories[this.tab];
        },
        schema: function() {
          return apis.get(this.category.self).data
        },
        headers: function() {
          const KEY = 'verbs'
          // const schema = apis.get(this.category.self).data
          const schema = this.schema

          // Dynamic Columns (Checkbox)
          // TODO: Order = [gluten-free, low-fat, salt-free, others]
          const headers = _(schema[0]).keys().without(KEY).map(this.toHeader).value()
          const checkboxes = _(schema).map(KEY).flatten().uniq().value()
          const checked = this.form.showChecked ? this.toHeader(KEY) : {}

          return _.concat(headers, _.map(checkboxes, this.toCheckboxHeader), checked)
        },
        items: function() {
          const vars = { tenant: this.form.tenant, role: this.form.role, category: this.category }
          const uri = this.template('api/tenants/${tenant}/roles/${role}/permissions/${category.name}', vars)
          const items = apis.get(uri).data || []

          if (this.category.useSchema) {
            // const remover = _.partialRight(_.assignInWith, { verbs: [] }, _)
            // global.schema = this.schema
            const empty = _.map( this.schema, v => Object.assign({}, v, {verbs: []}) )
            return _.merge(empty, items)
          }

          return _.unionBy(items, this.addedItems, 'id')
        },
        tenants: function() {
          return apis.get('api/tenants').data
        },
        roles: function() {
          const uriTemplate = 'api/tenants/${tenant}/roles'
          const vars = { tenant: this.form.tenant }
          const uri = this.template(uriTemplate, vars)
          return apis.get(uri).data
        },
        kubeApis: function() {
          if (this.category.name !== 'kubernetes')
            return {}

          global.schema = this.schema
          const apiGroups = _(this.schema).groupBy('apiGroup').values().map(_.head).value()
          const resources = _(this.schema).filter({ apiGroup: this.form.apiGroup }).value()
          return { apiGroups: apiGroups, resources: resources }
        }
      },
      created: function () {
        this.categories = apis.get('api/permissions').data
      },
      methods: {
        addKubernetesPermissions: function () {
          let selected = _.find(this.schema, { apiGroup: this.form.apiGroup, resource: this.form.resource })
          selected = Object.assign({}, selected, {verbs: []})
          this.addedItems.push(selected)
        },
        putRolePermissions: function () {
          const vars = { tenant: this.form.tenant, role: this.form.role, category: this.category }
          const uri = this.template('api/tenants/${tenant}/roles/${role}/permissions/${category.name}', vars)
          const body = this.items
          apis.put(uri, body)
        },
        //
        template: function (template, options) {
          return _.template(template)(options)
        },
        toHeader: function (val) {
          return { text: _.startCase(val), value: val }
        },
        toCheckboxHeader: function (val) {
          return { text: _.startCase(val), value: 'checkbox', val: val }
        },
        //
        dump: function () {
          const permissions = this.items
          const resources = _.groupBy(permissions, v => v.namespaced === true)
          const namespaced = resources['true']
          const clusterwide = resources['false']

          const name = this.template('realm:${tenant}:${role}', this.form)
          const docs = [
            this.toClusterRole(name, namespaced),
            this.toClusterRole(name + '-cr', clusterwide),
          ]

          const opts = { noArrayIndent: true, condenseFlow: true }
          this.dialog.text = _(docs).filter().map(d => jsyaml.dump(d, opts)).join('---\n')
          this.dialog.show = true
        },
        toClusterRole: function (name, rules) {
          // apiVersion: rbac.authorization.k8s.io/v1
          // kind: ClusterRole
          // metadata:
          //   name: aggregate-cron-tabs-edit
          //   labels:
          //     # Add these permissions to the "admin" and "edit" default roles.
          //     rbac.authorization.k8s.io/aggregate-to-admin: "true"
          //     rbac.authorization.k8s.io/aggregate-to-edit: "true"
          // rules:
          // - apiGroups: ["stable.example.com"]
          //   resources: ["crontabs"]
          //   verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

          return {
            apiVersion: 'rbac.authorization.k8s.io/v1',
            kind: 'ClusterRole',
            metadata: { name: name },
            rules: _.map(rules, r => {
              return { apiGroups: [r.apiGroup], resources: [r.resource], verbs: r.verbs }
            })
          }
        }
      }
    })
  </script>
</body>
</html>