<!-- https://vuetifyjs.com/en/getting-started/installation/#usage-with-cdn -->
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
            <v-data-table
              :headers="headers"
              :items="desserts"
              :items-per-page="10"
              dense
              class="elevation-1"
            >
            <template #item.glutenfree="{ item }">
              <!-- <div class="d-flex justify-center"> -->
              <v-checkbox v-model="item.tags" value="glutenfree"></v-checkbox>
            </template>
            <template #item.lowfat="{ item }">
              <v-checkbox v-model="item.tags" value="lowfat"></v-checkbox>
            </template>
            <template #item.saltfree="{ item }">
              <v-checkbox v-model="item.tags" value="saltfree"></v-checkbox>
            </template>
            <template #item.tags="{ item }">
              {{ JSON.stringify(item.tags, null, null, 2) }}
            </template>
            <!--
            <template v-slot:item.tags="{ item }">
              <v-row>
                <v-col>
                  <v-checkbox dense v-model="item.tags" label="Gluten-Free" value="glutenfree"></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox dense v-model="item.tags" label="Low-Fat" value="low-fat"></v-checkbox>
                </v-col>
                <v-col>
                  <v-checkbox dense v-model="item.tags" label="Salt-Free" value="salt-free"></v-checkbox>
                </v-col>
                <v-col>
                  {{ JSON.stringify(item.tags, null, null, 2) }}
                </v-col>
              </v-row>
            </template>
            -->
          </v-data-table>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="js/storage.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: function () {
        const data = storage.fetch();
        return {
          headers: data.headers,
          desserts: data.items
        }
      }
    })
  </script>
</body>
</html>